/**
 * Font Sizing Emmet 1rem = 10px
 */
html {font-size: 62.5%;} / sets global font size to 10px on desktop browsers /
h1 {font-size:3.2rem}
h2 {font-size:2.4rem}
h3 {font-size:1.87167rem}
h4 {font-size:1.6rem}
h5 {font-size:1.32833rem}
h6 {font-size:1.07167rem}
input, select, th, td {font-size:1rem}

/**
 * Start of Custom Styles
 */

.centered {
	text-align: center;
}

.center-boundwidth {
	max-width: 80rem;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3rem;
}

body {
	background-color: #FFF6EA;
	font-family: "volkorn", arial, serif;
	font-size: 1.25rem;
	text-align: justify;
}

header {
	background-image: url('http://i1196.photobucket.com/albums/aa412/twattz1/4ce687a1-840c-4366-beb7-b3314cb07f19_zpsg9gzfx2g.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-top: solid 1rem #C13C0B;
	margin-bottom: 0.1rem;
	padding: 7.5rem 0;
	color: white;
}

.background-color {
	margin-top: 5rem;
	padding: 4rem 0;
	background-color: #6D2D05;
	color: white;
}

/***********************************************************************
 ***************************** Top Section *****************************
 ***********************************************************************/
header h1 {
	font-size: 5rem;
	letter-spacing: -.15rem;
	text-transform: uppercase;
	margin-top: 15rem;
	margin-left: 1rem;
}
header p {
	font-size: 4rem;
	margin-left: 1rem;
	margin-top: -3rem;
}

/*********************************************************************
 *************************** Body Section ****************************
 *********************************************************************/
#questions > h1 {
	font-size: 4rem;
}

#questions > h2 {
	color: #7A92EB;
	font-size: 2rem;
}

section > p > span {
	font-weight: bold;
}

#cursor-hobbies,#cursor-job,#cursor-music:hover {
	cursor: crosshair;
}

/*****************************************************************
 *************** Footer Section **********************************
 *****************************************************************/

#social-links > li {
	display: inline-block;
}

#social-links {
	word-spacing: 2rem;
	margin-right: 3rem;
}


/**************************************************************
 ****************** Link Declarations *************************
 **************************************************************/
a {
	color: #E87420;
}
a:hover {
	text-decoration: none;
	font-style: italic;
}
a:visited {
	color: #D986E8;
}
::selection {
	color: white;
	background-color: blue;
}

/********************************************************************
 *************************** Responsive Elements ********************
 ********************************************************************/


 @media screen and (max-device-width: 500px) {
 	/*for mobile phones*/
 	header h1 {
 		font-size: 4rem;
 	}
 	header {
 		background-size: 100%;
 		padding: 1rem;
 	}
 	#social-links li {
 		font-size: 3rem;
 	}
 	#introduction, #questions {
 		margin: 3rem;
 	}
 }
@media screen and (max-width: 956px) {
	/*for desktops*/
	header h1 {
		font-size: 4rem;
		margin-top: 10rem;
	}
	header {
		background-size: 100%;
		padding: 1rem;
	}
}